<h4>Participants List</h4>
<p *ngIf="msg">{{msg}}</p>
<form class="form form--add-participants" (submit)="onSubmit($event)" [formGroup]="formModel" #f="ngForm">
	<mat-input-container class="form__input">
		<input matInput email placeholder="E-mail" name="email" type="email" formControlName="email">
	</mat-input-container>
	<button mat-raised-button class="form__submit" type="submit" color="accent" [disabled]="!formModel.valid">Add</button>
</form>
<mat-list class="participants-list">
	<mat-list-item *ngFor="let participant of participants$ | async">
		<img *ngIf="participant.photoURL; else userIcon" matListAvatar [src]="participant.photoURL">
		<p *ngIf="participant.displayName" matLine>{{participant.displayName}}</p>
		<p *ngIf="!participant.displayName" matLine>{{participant.email}}</p>
	</mat-list-item>
</mat-list>

<ng-template #userIcon>
	<mat-icon class="user-icon">account_circle</mat-icon>
</ng-template>
