<h4>Participants List</h4>
<p *ngIf="msg">{{msg}}</p>
<form class="form form--add-participants" (submit)="onSubmit($event)" [formGroup]="formModel">
	<mat-input-container class="form__input">
		<input matInput placeholder="E-mail" name="email" type="email" formControlName="email">
	</mat-input-container>
	<button mat-raised-button class="form__submit" type="submit" color="accent" [disabled]="!formModel.valid">Add</button>
</form>
<mat-list [@fadeInAnimation]="participants.length" class="participants-list">
	<mat-list-item *ngFor="let participant of participants">
		<img *ngIf="participant.photoURL" matListAvatar [src]="participant.photoURL">
		<p matLine>{{participant.displayName}}</p>
	</mat-list-item>
</mat-list>
