<div class="content">
	<div class="wrap">
		<div class="signin__inner">
			<h2 class="form__title">Sign in</h2>
			<form class="form form--signin" (ngSubmit)="onSubmit($event)" #signInForm="ngForm">
				<div class="form__msg" [hidden]="!formMsg">{{formMsg}}</div>
				<!-- <mat-input-container class="form__input">
					<input matInput placeholder="Name" name="name" minlength="4" required [(ngModel)]="model.username">
				</mat-input-container> -->
				<mat-input-container class="form__input">
					<input matInput placeholder="E-mail" name="email" type="email" minlength="5" required [(ngModel)]="model.email">
				</mat-input-container>
				<mat-input-container class="form__input">
					<input matInput placeholder="Password" name="password" type="password" minlength="4" required [(ngModel)]="model.password">
				</mat-input-container>
				<button mat-raised-button class="form__submit" type="submit" color="accent" [disabled]="!signInForm.form.valid">Continue</button>
			</form>
			<div class="signin__w-services">
				<p>or sign in with</p>
				<button mat-raised-button class="signin__btn signin__btn--google" color="warn" (click)="signInByGoogle()">Google</button>
			</div>
		</div>
	</div>
</div>
