:host {
	display: block;
	padding-top: 8px;
}



.task {
	display: flex;
	flex: 0 40px;
	align-items: center;
	border-left: 3px solid #ddd;
	&--pended {
		border-left-color: #64B5F6;
		.mat-checkbox-background {
			background-color: #64B5F6 !important;
		}
	}
	&--completed {
		border-left-color: #81C784;
		.mat-checkbox-background {
			background-color: #81C784 !important;
		}
	}
}

.icon-completed {
	color: #81C784;
}

.icon-pended {
	color: #64B5F6;
}


.mat-menu-item {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	.mat-icon {
		font-size: 20px;
		margin-right: 4px;
	}
}

.mat-card {
	padding: 0 20px;
}

.mat-input-container {
	width: 100%;
}

.mat-checkbox {
	margin-right: 12px;
	margin-top: -7px;
}
