<a class="thumb__link" *ngIf="!isShared; else sharedThumb" routerLink="/projects/{{project.$key}}">
	<mat-card color="primary">
		<div class="thumb__placeholder" *ngIf="projectThumbUrlSave" [style.background-image]="projectThumbUrlSave"></div>
		<mat-card-content>
			<h3 class="thumb__title">{{ project.title }}</h3>
			<p class="thumb__description" *ngIf="project.description">{{ project.description | slice:0:100 }}{{project.description.length > 100 ? '...': ''}}</p>
		</mat-card-content>
	</mat-card>
</a>
<ng-template #sharedThumb>
	<a class="thumb__link" routerLink="/projects/{{project.$key}}">
		<mat-card color="primary">
			<div class="thumb__placeholder" *ngIf="projectThumbUrlSave" [style.background-image]="projectThumbUrlSave"></div>
			<mat-card-content>
				<h3 class="thumb__title">{{ project.title }}</h3>
				<p class="thumb__description" *ngIf="project.description">{{ project.description | slice:0:100 }}{{project.description.length > 100 ? '...': ''}}</p>
				<p>Owner: {{ project.ownerId }}</p>
			</mat-card-content>
		</mat-card>
	</a>
</ng-template>
