<div class="content">
	<div class="wrap">
		<div class="start__content">
			<h3 class="start__title">Start add Projects today!</h3>
			<p class="start__btns">
				<button routerLink="/signup" mat-raised-button>Sign Up</button>
				<span class="start__or">or</span>
				<button mat-raised-button routerLink="/signin">Sign In</button>
			</p>
		</div>
		<!-- <a-slick-carousel class="slider">
				<div aSlickCarouselItem class="slide" *ngFor="let slide of slides">
					<img [src]="slide.url">
					<p class="slide__title">{{slide.title}}</p>
				</div>
		</a-slick-carousel> -->
	</div>
</div>
<div class="start__bg"></div>
