:host {
	display: block;
}

a-task {
	display: block;
}

.board {
	&__btn-add-task-wrap {
		display: flex;
		justify-content: center;
	}
	&__task-list {
		margin-top: 6px;
	}
}

.task-list {
	&__status-select-wrap {
		position: relative;
		padding: 0 15px;
	}
	&__status-select {
		max-width: 100px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0,0,0,.42);
		margin-left: 10px;
	}
}

.no-tasks {
	text-align: center;
	color: #999;
}