<div class="nav-list__wrap" [ngClass]="{'nav-list__wrap--start': isStart}" *ngIf="!navHidden">
	<ul class="nav-list nav-list--logged-in" *ngIf="user">
		<li>
			<a routerLink="/projects" routerLinkActive="active">
				<button mat-button>Projects</button>
			</a>
		</li>
	</ul>
	<div class="avatar" *ngIf="user" [matMenuTriggerFor]="userMenu">
		<span class="avatar__mail">{{user.email}}</span>
		<img class="avatar__img" *ngIf="user.photoURL; else iconAvatar" src="{{user.photoURL}}">
		<mat-menu #userMenu="matMenu" class="nav__user-menu" [overlapTrigger]="false">
			<button mat-menu-item routerLink="/profile">
				<mat-icon>person</mat-icon>
				<span>Profile</span>
			</button>
			<button mat-menu-item (click)="signOut($event)">
				<mat-icon>exit_to_app</mat-icon>
				<span>Sign Out</span>
			</button>
		</mat-menu>
	</div>
	<ul class="nav-list nav-list--common" *ngIf="!user">
		<li>
			<a routerLink="/signup" routerLinkActive="active">
				<button mat-button>Sign Up</button>
			</a>
		</li>
		<li class="nav-list__or">or</li>
		<li>
			<a routerLink="/signin" routerLinkActive="active">
				<button mat-button>Sign In</button>
			</a>
		</li>
	</ul>
</div>
<ng-template #iconAvatar>
	<mat-icon class="avatar--icon">account_circle</mat-icon>
</ng-template>
