:host {
	display: block;
}

.nav-list__wrap {
	display: flex;
	align-items: center;
}

.nav-list {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	display: flex;
	align-items: center;
	li {
		float: left;
		display: block;
	}
	a {
		color: #fff;
		text-decoration: none;
		&.active .mat-button {
			color: rgba(255, 255, 255, 0.3);
		}
	}
	&__or {
		color: #fff;
		opacity: 0.5;
		font-size: 15px;
		margin: 0 10px;
	}
}

.nav-list__wrap--start {
	.avatar--icon {
		color: #fff;
	}
}

.mat-button {
	color: #fff;
}

.avatar {
	cursor: pointer;
	display: flex;
	align-items: center;
	position: relative;
	overflow: hidden;
	margin-left: 16px;
	&:hover {
		.avatar__mail {
			color: rgba(255, 255, 255, 0.3);
		}
	}
	&__img {
		border-radius: 50%;
		height: 40px;
		width: 40px;
		margin-left: 12px;
	}
	&__mail {
		font-size: 13px;
		color: #fff;
		transition: 0.3s;
	}
	&--icon {
		color: lighten(#1f2633, 50%);
		cursor: pointer;
		font-size: 40px;
		height: 40px;
		width: 40px;
		margin-left: 12px;
	}
}
