<div class="content">
	<div class="wrap">
		<div class="projects-panel__inner">
			<mat-tab-group>
				<!-- Own Projects -->
				<mat-tab label="Own Projects">
					<!-- Preloader -->
					<div class="preloader__wrap" *ngIf="!hiddeSpiner">
						<mat-spinner [diameter]="45" [strokeWidth]="3"></mat-spinner>
					</div>
					<div class="projects-list" *ngIf="projects">
						<a-project-thumb *ngFor="let project of projects | reverse" [projectAction]="project" [isShared]="false"></a-project-thumb>
					</div>
					<!-- MSG no projects -->
					<div class="projects-panel__msg" *ngIf="msg" @fadeInUpAnimation>
						<p>{{ msg }}</p>
						<p><button mat-raised-button color="primary" (click)="openFormAddProject()">Add Project</button></p>
					</div>
				</mat-tab>
				<!-- Collective Projects -->
				<mat-tab label="Collective Projects" *ngIf="collectiveProjects$">
					<div class="projects-list">
						<a-project-thumb *ngFor="let cProject of collectiveProjects$ | async;" [projectAction]="cProject" [isShared]="true"></a-project-thumb>
					</div>
				</mat-tab>
				
			</mat-tab-group>
			<a mat-fab color="primary" class="btn-add-project" *ngIf="projects?.length" @fadeInUpAnimation (click)="openFormAddProject()" >
				<mat-icon>add</mat-icon>
			</a>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<a-modal></a-modal>
