<div class="content">
	<div class="wrap">
		<div class="projects-panel__inner">
			<mat-tab-group>
				<!-- Own Projects -->
				<mat-tab label="Own Projects">
					<p class="projects-panel__msg" *ngIf="msg" @fadeInUpAnimation>{{ msg }}</p>
					<!-- Preloader -->
					<div class="preloader__wrap" *ngIf="!hiddeSpiner">
						<mat-spinner [diameter]="45" [strokeWidth]="3"></mat-spinner>
					</div>
					<div class="projects-list" *ngIf="projects">
						<a-project-thumb *ngFor="let project of projects | reverse" [project]="project" [isShared]="false"></a-project-thumb>
					</div>
				</mat-tab>
				<!-- Collective Projects -->
				<mat-tab label="Collective Projects" *ngIf="collectiveProjects | async">
					<div class="projects-list">
						<a-project-thumb *ngFor="let cProject of collectiveProjects | async;" [project]="cProject" [isShared]="true"></a-project-thumb>
					</div>
				</mat-tab>
				<p>{{collectiveProjects}}</p>
			</mat-tab-group>
			<a mat-fab color="primary" class="btn-add-project" (click)="openFormAddProject()">
				<mat-icon>add</mat-icon>
			</a>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
<a-modal></a-modal>
