<div class="content">
	<div class="wrap">
		<div class="signup__inner">
			<h2 class="form__title">Get started absolutely free</h2>
			<!-- Preloader -->
			<div class="preloader__wrap" *ngIf="showPreloader">
				<mat-spinner [diameter]="45" [strokeWidth]="3"></mat-spinner>
			</div>
			<p class="verify-email-msg" [hidden]="!sendVerificationMsg">{{sendVerificationMsg}}</p>
			<form class="form form--signup" (ngSubmit)="onSubmit($event)" #signupForm="ngForm">
				<div class="form__msg" [hidden]="!formMsg">{{formMsg}}</div>
				<mat-input-container class="form__input">
					<input matInput placeholder="E-mail" name="email" type="email" minlength="5" required [(ngModel)]="model.email">
				</mat-input-container>
				<mat-input-container class="form__input">
					<input matInput placeholder="Password" name="password" type="password" minlength="4" required [(ngModel)]="model.password">
				</mat-input-container>
				<button mat-raised-button class="form__submit" type="submit" color="accent" [disabled]="!signupForm.form.valid">Continue</button>
			</form>
			<div class="signup__w-services">
				<p>or sign up with</p>
				<button mat-raised-button class="signup__btn signup__btn--google" color="warn" (click)="signupByGoogle()">Google</button>
			</div>
		</div>
	</div>
</div>
