@import "../../../scss/vars";

:host {
	display: block;
	position: relative;
	z-index: 10;
}

.modal {
	&--project {
		display: block;
	}
	&__content {
		padding-top: 15px;
	}
	&__wrap {
		max-width: 1000px;
	}
}

.mat-spinner {
	width: 40px;
	height: 100px;
	margin: 45px auto;
}

.close {
	position: absolute;
	top: 24px;
	right: 24px;
}

// .btn-edit {
// 	margin-left: 4px;
// 	.mat-icon,
// 	.mat-icon-button {
// 		height: 30px;
// 		width: 30px;
// 		line-height: 30px;
// 		font-size: 18px;
// 		color: $clr-gray;
// 	}
// }
.project {
	&__title {
		margin: 0;
		font-weight: 700;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	&__boards {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -8px;
	} //======= move
	&__cols {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	&__col {
		width: calc(50% - 20px);
	}

	&__task-list {
		margin-top: 16px;
	}
	&__btn-add-task {
		width: 100%;
	} // ============
}

.board-thumb {
	width: 25%;
}

.mat-menu-item {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	.mat-icon {
		font-size: 20px;
		margin-right: 4px;
	}
}

.btn-add-board {
	position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}


@media only screen and (max-width: 960px) {
	.project {
		&__cols {
			flex-flow: column no-wrap;
		}
		&__col {
			width: 100%;
		}
	}
}
