<div class="project">
	<mat-sidenav-container color="primary">
		<mat-sidenav align="end" #sidenav class="sidenav">
			<button mat-menu-item (click)="deleteProject(project.$key)">
				<mat-icon>delete</mat-icon>
				<span>Delete</span>
			</button>
			<button mat-menu-item (click)="openFormAddProject()">
				<mat-icon>person_add</mat-icon>
				<span>Add Participant</span>
			</button>

		</mat-sidenav>

		<!-- Content -->
		<div class="project__inner">

			<!-- Toolbar -->
			<mat-toolbar *ngIf="project">
				<button mat-button class="project__title" [matMenuTriggerFor]="titleMenu">
					<span class="project__title-text">{{project.title | slice:0:20 }}{{project.title.length > 20 ? '...': ''}}</span>
				</button>
				<button mat-icon-button class="btn-edit" title="Description" [matMenuTriggerFor]="descMenu">
					<mat-icon>short_text</mat-icon>
				</button>
				<span flex class="a-toolbar-margin"></span>
				<button mat-icon-button class="project__menu-btn" (click)="back()">
					<mat-icon>chevron_left</mat-icon>
				</button>
				<button mat-icon-button class="project__menu-btn" (click)="sidenav.open()">
					<mat-icon>more_vert</mat-icon>
				</button>
			</mat-toolbar>

			<!-- Project Content -->
			<div class="project__content" *ngIf="project; else preloader">
				<div class="project__boards" *ngIf="boards$ | async">
					<a-board-thumb class="board-thumb" *ngFor="let board of boards$ | async" [boardAction]="board" [projectKey]="projectKey"></a-board-thumb>
				</div>
			</div>
		</div>

		<!-- Add Board -->
		<a mat-fab color="primary" class="btn-add-board" (click)="addBoard()">
			<mat-icon>add</mat-icon>
		</a>
	</mat-sidenav-container>
</div>

<!-- Router Outlet -->
<router-outlet *ngIf="project"></router-outlet>

<!-- Title menu -->
<mat-menu #titleMenu="matMenu" class="project__menu edit-box" [overlapTrigger]="false">
	<form [formGroup]="formModel" (click)="$event.stopPropagation()">
		<mat-input-container>
			<input matInput formControlName="title" name="title" type="text" tabindex="1" (change)="updateProject($event)">
		</mat-input-container>
	</form>
</mat-menu>

<!-- Description Menu -->
<mat-menu #descMenu="matMenu" class="project__menu edit-box edit-box--desc" [overlapTrigger]="false">
	<form [formGroup]="formModel" (click)="$event.stopPropagation()">
		<mat-input-container class="form__input">
			<textarea matInput mat-autosize minRows="7" name="description" tabindex="2" formControlName="description" (change)="updateProject($event)"></textarea>
		</mat-input-container>
	</form>
</mat-menu>

<!-- Preloader -->
<ng-template #preloader>
	<mat-spinner diameter="45" strokeWidth="3"></mat-spinner>
</ng-template>
