@import "../../../scss/vars";

:host {
	display: block;
	position: fixed;
	top: 64px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

mat-sidenav-container {
	height: 100%;
	min-height: 100%;
}

.project {
	height: 100%;
	min-height: 100%;
	&__inner {
		height: 100%;
		min-height: 100%;
	}
	&__content {
		padding: 16px 16px 0;
	}
	&__title {
		margin: 0;
		font-weight: 700;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}
	&__boards {
		display: flex;
		flex-flow: row wrap;
		margin: 0 -8px;
	} 
}

.sidenav {
	width: 240px;
	&__item {
		border-bottom: 1px solid #eee;
	}
	&__btn {
		width: 100%;
		border-radius: 0;
	}
	.mat-list-item-content {
		padding: 0;
	}
	.mat-menu-item {
		height: 50px;
	}
}



.board-thumb {
	width: 25%;
}

.mat-menu-item {
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	.mat-icon {
		font-size: 20px;
		margin-right: 4px;
	}
}

.btn-add-board {
	position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.mat-spinner {
	margin: 45px auto;
}


@media only screen and (max-width: 960px) {
	.project {
		&__cols {
			flex-flow: column no-wrap;
		}
		&__col {
			width: 100%;
		}
	}
}
