<mat-list-item *ngIf="task" class="task" [ngClass]="taskStateClasses">
	<mat-checkbox class="task__checkbox" ngClass="{{'task__checkbox--' + task.status}}" color="primary" [id]="index" (change)="changeStatus($event)" [checked]="task.status == 'completed'"></mat-checkbox>
	<mat-input-container>
		<input matInput class="task__input" name="task" attr.data-task-index="{{index+1}}" value="{{task.title}}" (change)="updateTitle($event)" (keyup)="updateTaskActionsTitle($event)" (focus)="showTaskActions()">
	</mat-input-container>
	<button mat-icon-button class="board__menu-btn" (click)="showTaskActions()">
		<mat-icon>more_vert</mat-icon>
	</button>
</mat-list-item>
